<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />




    <application
        android:name=".StreaklyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/ic_streakly_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_streakly_logo"
        android:theme="@style/Theme.Streakly"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Streakly.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Streakly" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Streakly" />

        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".AnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".AddHabitActivity"
            android:exported="false" />
        <activity
            android:name=".HabitDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Streakly" />
        <receiver
            android:name=".receivers.HabitReminderReceiver"
            android:enabled="true"
            android:exported="false" />
        <activity
            android:name=".GoogleSignInActivity"
            android:exported="false"
            android:theme="@style/Theme.Streakly" />
        <activity
            android:name=".SsoLoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Streakly" />

        <meta-data
            android:name="com.google.android.gms.auth.api.identity.SERVER_CLIENT_ID"
            android:value="@string/default_web_client_id" />

    </application>
</manifest>